
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea
bin
config/
!config/routes.yaml
public/index.php
src/Kernel.php
public/pb
!public/pb/.gitkeep
src/Controller/.gitignore
templates/base.html.twig
TODO.md
